{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="icon" href="{% static 'images/trem.png'%}" type="image/png">
    <title>Entrar Sala</title>
</head>

<body>
    <div class="parent">
        <div class="child text-center">

            <img src="{% static 'images/Logo_PontoCerto.png' %}" alt="Logo" style="width: 450px; height: auto; background-color: transparent; margin-bottom: -20px;">
            <form id="roomForm" action="{% url 'create-room' %}" method="POST">
                {% csrf_token %}
                <p style="color: white;">Toque em qualquer lugar para iniciar a sessão</p><br>
            </form>
            
            <div class="mt-3">

                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#botaoLinguas">
                    Language / Idioma
                </button>
  
                <!-- Modal -->
                <div class="modal fade" id="botaoLinguas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <!--header-->
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Idioma / Language</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <!--corpo-->
                        <div class="modal-body">
                            <div class="d-grid gap-3 col-6 mx-auto">

                                <button type="button" class="btn btn-outline-success">
                                    <img src="{% static 'images/flag-brasil.png' %}" alt="bra" class="imagem-personalizada">
                                    Português
                                </button>

                                <button type="button" class="btn btn-outline-danger">
                                    <img src="{% static 'images/flag-estados-unidos.png' %}" alt="usa" class="imagem-personalizada">
                                    English
                                </button>

                                <button type="button" class="btn btn-outline-warning">
                                    <img src="{% static 'images/flag-espanhol.png' %}" alt="esp" class="imagem-personalizada">
                                    Español
                                </button>

                                <style>
                                    .imagem-personalizada {
                                      max-width: 50px;
                                      max-height: auto;
                                    }
                                </style>

                            </div>
                        </div>
                      </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Carregar o JavaScript do Bootstrap -->
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- DESATIVADO, INTERFERE COM BOTÃO DO MODAL LINGUAGEM-->
    <script>
        // Script para tornar a página clicável, exceto o modal de linguagem
        document.addEventListener('click', function(event) {
            const modal = document.querySelector('.modal'); // Seleciona o modal
            const modalOpen = modal && modal.classList.contains('show'); // Verifica se o modal está aberto
            const isInsideModal = modal && modal.contains(event.target); // Verifica se o clique ocorreu dentro do modal
    
            if (!modalOpen || !isInsideModal) {
                // Submete o formulário se o clique não for dentro do modal ou se o modal não estiver aberto
                document.getElementById('roomForm').submit();
            }
        });
    </script>

</body>
</html>