{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/site.css' %}">
    <title>Mensagens</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>

    <!-- Menu da esquerda -->
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 left-section">
                <div class="logo">
                    <img src="{% static 'images/Logo_PontoCerto.png' %}" alt="Logo" class="logo-img">
                </div>
                <nav class="menu">
                    <ul>
                        <li>
                            <img src="{% static 'images/chat.png' %}" alt="Icon 1" class="menu-icon">
                            <a href="" onclick="event.preventDefault();">Chat</a>
                        </li>
                        <li>
                            <img src="{% static 'images/status.png' %}" alt="Icon 2" class="menu-icon">
                            <a href="{% url 'status' %}">Status das Linhas</a>
                        </li>
                        <li>
                            <img src="{% static 'images/mapa.png' %}" alt="Icon 3" class="menu-icon">
                            <a href="{% url 'mapa' %}">Mapa</a>
                        </li>
                        <li>
                            <button class="red-button">
                                <img src="{% static 'images/sair.png' %}" alt="Botão Logo" class="button-logo">
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
            
            <!-- Chat (na direita) -->
<!-- Chat (na direita) -->
<div class="col-md-9 right-section">
    <!-- Container separado para a mensagem de boas-vindas -->
    <div class="welcome-container">
        <center><h2>Bem vindo ao PontoCerto, do que você precisa?</h2></center>
    </div>
    
    <div class="chat-body-parent">
        <div class="chat-body" id="tasks">
            <div class="message" id="chatContainer">
                <!-- Mensagens recebidas abaixo -->
                {% for i in messages %}
                    {% if i.sender != user %}
                        <div class="receive">
                            <p style="color: #000;">{{ i.message }}<strong>-IA</strong></p>
                        </div>
                    {% else %}
                        <div class="send">
                            <p style="color: #000;">{{ i.message }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="form">
                <form action="" id="message-form" method="POST">
                    {% csrf_token %}
                    <textarea id="msg" cols="30" name="message" rows="10" placeholder="Digite..." required></textarea>
                    
                    <button class="send-btn" type="submit">
                        <img src="{% static 'images/seta.png' %}" alt="Send" class="send-icon">
                    </button>
                    
                    <button class="image-btn">
                        <img src="{% static 'images/microfone.png' %}" alt="icon" class="icon-image">
                    </button>
                </form>    
            </div>
        </div>
    </div>
</div>



</body>

<script>
// Quando uma nova mensagem for enviada, essa função ativa
function scrollToBottom() {
    var chatContainer = document.getElementById("chatContainer");
    chatContainer.scrollTop = chatContainer.scrollHeight;
}

// Verifica o protocolo e define Endpoint
const websocketProtocol = window.location.protocol === "https:" ? "wss" : "ws";
// Cria a URL do Endpoint para relacionar com o routing.py 
const wsEndpoint = `${websocketProtocol}://${window.location.host}/ws/notification/{{room_name}}/`;
const socket = new WebSocket(wsEndpoint);

// Evento conexão (f.dev)
socket.onopen = (event) => {
    console.log("Conexão com WebSocket aberta!");
};

// Form botão 'submit'
document.getElementById('message-form').addEventListener('submit', function(event){
    // Previne a página de recarregar
    event.preventDefault();
    // Envia msg para consumers no back
    const message = document.getElementById('msg').value;
    socket.send(
        JSON.stringify({
            'message': message,
            'room_name': '{{room_name}}',
            'sender': '{{user}}',
        })
    );
    
    // Muda o texto do container de boas-vindas para "chat"
    document.querySelector('.welcome-container h2').textContent = 'Chat';
});

// Res do consumidor no servidor (f.dev console.log)
socket.addEventListener("message", (event) => {
    // Pega data de msgs do back
    const messageData = JSON.parse(event.data)['message'];
    console.log(messageData);

    var sender = messageData['sender'];
    var message = messageData['message'];

    // Input fica vazio após envio de msg
    if (sender == '{{user}}'){
        document.getElementById('msg').value = '';
    }

    // Adiciona msg no chatbox
    var messageDiv = document.querySelector('.message');
    var newMessage = document.createElement('div');

    // Verifica o remetente e aplica a classe adequada
    if (sender != '{{user}}') {
        newMessage.classList.add('receive');
        newMessage.innerHTML = '<p style="color: #fff;">' + message + '<strong> - IA</strong></p>';
    } else {
        newMessage.classList.add('send');
        newMessage.innerHTML = '<p style="color: #fff;">' + message + '</p>';
    }

    // Adiciona a nova mensagem ao contêiner
    messageDiv.appendChild(newMessage);
    scrollToBottom();
});

document.querySelector('.red-button').addEventListener('click', function() {
    socket.send(JSON.stringify({ 'action': 'close' }));
    socket.close();
    window.location.href = '/';
    console.log("Conexão com WebSocket fechada!");
});


</script>

<script src="{% static 'js/monitor.js' %}"></script>

</html>
