{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/site.css' %}">
    <link rel="stylesheet" href="{% static 'css/status.css' %}">
    <title>Status das linhas</title>
</head>

<body>

    <div class="container-fluid">
        <div class="row">

            <!-- Menu da esquerda -->
            <div class="col-md-3 left-section">
                <div class="logo">
                    <img src="{% static 'images/Logo_PontoCerto.png' %}" alt="Logo" class="logo-img">
                </div>
                <nav class="menu">
                    <ul>
                        <li>
                            <img src="{% static 'images/chat.png' %}" alt="Icon 1" class="menu-icon">
                            <a href="{% url 'room' room_name=room_name username=username %}">Chat</a>
                        </li>
                        <li>
                            <img src="{% static 'images/status.png' %}" alt="Icon 2" class="menu-icon">
                            <a href="" onclick="event.preventDefault();">Status das Linhas</a>
                        </li>
                        <li>
                            <img src="{% static 'images/mapa.png' %}" alt="Icon 3" class="menu-icon">
                            <a href="{% url 'mapa' %}">Mapa</a>
                        </li>
                        <li>
                            <button class="red-button">
                                <img src="{% static 'images/sair.png' %}" alt="Botão Logo" class="button-logo">
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- Menu direita -->
            <div class="right-section">
                <div id="linha-status">
                    <div class="pt-4 d-flex">
                        <h2 class="text-primary status pe-4">Carregando Status das Linhas...</h2>
                        <div class="spinner-border spinner-border-lg text-primary" role="status" aria-hidden="true">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<div id="linha-status"></div>
<script>
    function atualizarLinhas() {
        fetch("{% url 'status_metro_api' %}")  // Rota Endpoint API
            .then(response => response.json())
            .then(data => {
                let html = "";
                data.linhas.forEach(linha => {
                    // Define a classe de cor com base no número da linha
                    let corClasse = `linha-${linha.linha_numero}`;
                    
                    // Define a cor da bola de status
                    let statusClasse;

                    if (linha.linha_situacao === "Operação Normal") {
                        statusClasse = "verde";
                    } else if (linha.linha_situacao === "Operação Encerrada") {
                        statusClasse = "cinza";
                    } else {
                        statusClasse = "vermelha";
                    }
                    
                    html += `
                        <div>
                            <span class="linha-numero ${corClasse}">${linha.linha_numero}</span>
                            <span class="linha-nome">${linha.linha_nome}</span>
                            <span class="linha-status">${linha.linha_situacao}</span>
                            <span class="status-bola ${statusClasse}"></span>
                        </div>
                    `;
                });
                html += `<p>Atualizado: ${data.hora_agora}</p>`;
                document.getElementById("linha-status").innerHTML = html;
            })
            .catch(error => console.error("Erro ao carregar dados:", error));
    }
    // Chama ao carregar a página
    document.addEventListener("DOMContentLoaded", atualizarLinhas);
</script>

<script src="{% static 'js/monitor.js' %}"></script>

</html>