{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/site.css' %}">
    <title>Status das linhas</title>
</head>
<body>

    <!-- Menu da esquerda -->
    <div class="container">
        <div class="left-section">
            <div class="logo">
                <img src="{% static 'images/Logo_PontoCerto.png' %}" alt="Logo" class="logo-img">
            </div>
            <nav class="menu">
                <ul>
                    <li>
                        <img src="{% static 'images/chat.png' %}" alt="Icon 1" class="menu-icon">
                        <a href="{% url 'room' room_name=room_name username=username %}">Chat</a>
                    </li>
                    <li>
                        <img src="{% static 'images/status.png' %}" alt="Icon 2" class="menu-icon">
                        <a href="" onclick="event.preventDefault();">Status das Linhas</a>
                    </li>
                    <li>
                        <img src="{% static 'images/mapa.png' %}" alt="Icon 3" class="menu-icon">
                        <a href="{% url 'mapa' %}">Mapa</a>
                    </li>
                    <li>
                        <button class="red-button">
                            <img src="{% static 'images/sair.png' %}" alt="Botão Logo" class="button-logo">
                        </button>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="right-section">
            
        </div>
    </div>
</body>

<script>

</script>
</html>